<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/layouts.css" type="text/css" media="all" />
  </head>
  <body>
    <h1 class="head">welcome </h1>
    <div class="info" id="info"></div>
    <div class="users-list">
      <ul>
        <li class="user">
          <div class="user-image">
            <img src="img/ncs112.png" alt="vishal gaud" />
          </div>
          <div class="user-name">
            <h2>Vishal Gaud</h2>
          </div>
        </li>
      </ul>
    </div>
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>